:root{
    --title-desc:rgba(67, 72, 77, 1);
    --nav:rgba(107, 107, 107, 1);
    --button-bg:rgba(250, 109, 6, 1);
    --button-text:rgba(244, 242, 241, 1);
    --number:rgba(86, 86, 86, 1);
    --modal-bg: rgba(24, 28, 31, 1);

}

body{
    font-family: Poppins;
}

.container{
    max-width: 1313px;
    margin: 0 auto;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{

}

.nav{
    display: flex;
    gap: 15px;
}

.nav-list{
    display: flex;
    gap: 15px;
}

.nav-list-item{

}

.nav-list-link{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
    
    color: var(--nav);
}

.contact-list{
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact-list-item{
    display: flex;
    align-items: center;
    gap: 17px;
}

.contact-list-link{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;

    color: var(--nav);
}

.contact-list-link-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 6px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--number);

    width: 24px;
    height: 24px;
}

.contact-list-svg{
    fill: currentColor;
}

.contact-list-link-number{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    
    color: var(--number);
    
}

.section-hero{
    background: linear-gradient(180deg, rgba(67, 72, 77, 0) 0%, #43484D 100%);

    padding-top: 45px;

}

.hero-wrap{
    background-image: url("./css-img/people.png"), url("./css-img/Ellipse\ 352.png");
    background-repeat: no-repeat;

    background-position: 88% 88%, 88% 100%;

    display: flex;
    justify-content: space-between;

}

.hero-img{
    margin-left: 77px;
}

.hero-info{

    background-repeat: no-repeat;
    width: 680px;
    height: 805px;

    background-position: 10% 100%;
}

.hero-title{
    font-family: Abril Fatface;
    font-size: 140px;
    font-weight: 400;
    line-height: 1;
    
    color: var(--title-desc);

    margin-bottom: 36px;
    margin-top: 160px;
}

.hero-desc{
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;

    color: var(--title-desc);

    margin-bottom: 58px;
}

.hero-btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.05em;

    border-radius: 8px;
    padding: 16px 100px;
    
    color: var(--button-text);
    background-color: var(--button-bg);
}

.hero-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.hero-list-item{
    position: relative;
}

.hero-list-link{
    color: var(--number);
}

.hero-list-svg{
    fill: currentColor;
}

.hero-list-link-top::before{

    content: "";
    border: 1px solid rgba(0, 0, 0, 1);

    height: 223px;

    position: absolute;
    bottom: 79px;
    left: 23px;
}

.hero-list-link-bottom::after{

    content: "";
    border: 1px solid rgba(0, 0, 0, 1);

    height: 215px;

    position: absolute;
    top: 84px;
    left: 25px;
}

    /* ----- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 688px;
  min-height: 732px;
  background-color: var(--modal-bg);
  transform: translate(-50%, -50%);

  padding: 120px;

  display: flex;
  flex-direction: column;
}

.modal-desc{
    font-family: Abril Fatface;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    
    color: var(--button-bg);

    margin-bottom: 62px;
    
}

.modal-btn-close{
    position: absolute;

    padding: 6px;

    top: 14px;
    right: 14px;

    background-color: inherit;
}

.modal-close-link{
    position: sticky;

    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    color: var(--button-text);
}

.modal-close-link:hover{
    color: var(--button-bg);
}

.modal-btn-close:hover{
    color: var(--button-bg);
}

.modal-svg-close{
    fill: currentColor;
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-name, .input-tel{
    width: 100%;
    height: 48px;

    padding-left: 16px;

    border-radius: 8px;

    border: 1px solid rgba(89, 95, 101, 1);

    background-color: inherit;
}

.input-tel:focus-within, .input-name:focus-within, .modal-texarea:focus-within{
    outline: none;
    background-color: inherit;
    border-color: var(--button-bg);
}

.modal-texarea{
    resize: none;

    min-width: 448px;
    min-height: 120px;

    border: 1px solid rgba(89, 95, 101, 1);

    background-color: inherit;

    border-radius: 8px;

    padding: 12px 16px;

    margin-bottom: 37px;
}

.modal-texarea::placeholder, .input-name::placeholder, .input-tel::placeholder{
    color: rgba(67, 72, 77, 1);
}

.modal-btn-send{
    font-family: Abril Fatface;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;

    color: var(--button-text);
    background-color: var(--button-bg);

    padding: 16px 171px;

    border-radius: 8px;

    display: block;
    margin: 0 auto;
}
    /* ----- */
